.banner{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: aliceblue;
    width: 100%;
    height: 80vh;
}
.banner-contents{
    position: relative;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    top: 180px;
}
.banner-button{
    color: #fff;
    outline: none;
    border-radius: 0.2vw;
    font-weight: 700;
    border: none;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 12px;
    margin-right: 1rem;
    cursor: pointer;
    padding-top: 1rem;
    background-color: rgba(51,51,51,0.5);
    padding-bottom: 0.5rem;
}
.banner-description{
    display: flex;
    margin-top: 20px;
    font-size: 20px;
}
.banner-button:hover{
    color: black;
    background-color: white;
    transition: all 0.2s;
}
.banner-title{
    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;

}

.banner-fade-bottom{
    margin-top: 10vh;
    height: 12rem;
    background-image: linear-gradient(
        180deg,
        transparent,
        rgba(37,37,37,0.61),
        #111
    );
}

@media screen and (max-width: 610px) {
    .banner-title{
        font-size: 30px;
    }
    .banner-description{
        font-size: 15px;
    }
}